@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Jost', sans-serif;
    height:5000px;
}
.nav-bar{
    background-color: #ef4f4f;
}
.nav-bar li{
    padding:12px;
}
.nav-bar li a{
    list-style-type: none;
    text-decoration: none;
    padding:24px;
    font-size:26px;
    font-family: 'Jost', sans-serif;
    color:white;
}
.nav-bar li a:hover{
    color: black;
}

.container{
    background-color:#dadbf3;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:135px;
    padding-bottom:135px;
}

.weather-container{
    background-color: #417ccc;
    color:white;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height:300px;
    border-radius: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.weather-container img{
    width: 108px;
}

.country h1{
   padding-top: 4px;
   font-size:35px;
}

.description p{
    padding-top: -8px;
    font-size: 20px;
}

.degree p{
    padding-top: 22px;
    font-size:51px;
}

.recipe-container{
    background-color:#f1e7e7;
    height: 100%;
    width: 100%;

}

.recipe-search{
    background-color: #f1e7e7;
    width:100%;
    padding:237px;
    padding-bottom: 10;
}

.recipe-search input{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    padding:10px;
    font-size:20px;
    font-family: 'Jost', sans-serif;
}

.recipe-response-container{
    margin:0;
    width:50%;
    margin:auto;
}

.recipe-response{
    margin:0;
    width:100%;
    height:350px;
    margin-bottom: 15px;
    border:1px solid black;
}

.recipe-response img{
    width:100%;
    height:76%;
    object-fit: cover;
}

.recipe-child-container{
    background-color:white;
    padding:0px;
    padding-bottom: 0px;
    width:100%;
    margin:0;
    margin-top:36px;
    border-top:0.5px solid black;
}

.title{
    font-size:19px;
    margin:0;
    padding:0;
    margin-left:3px;
    font-family: 'Cormorant Garamond', serif;
}

.view-recipe{
    margin:0;
    float:right;
    background-color: #ef4f4f;
    padding:7px;
    color:white;
    text-decoration:none;
    font-size:14px;
    margin-right:3px;
    margin-top: -13;
    border-radius: 10px;

}
.recipe-description{
    margin-top: 0;
    font-size:16px;
    margin-left:3px;
    font-family: 'Jost', sans-serif;
}

.footer{
    text-align:center;
    color:white;
    background-color: black;
}





@media screen and (max-width: 600px){
    .html{
        margin:0;
        padding:0;
    }
    .nav-bar li a{
        list-style-type: none;
        text-decoration: none;
        padding:0;
        font-size:18px;
        font-family: 'Jost', sans-serif;
        color:white;
    }
    .container{
        height:auto;
        width:100%;
        padding:0;
        margin:0;
        background-color:#dadbf3;
        margin-top:4px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .weather-container{
        width:80%;
        height:190px;
        background-color: #417ccc;
        color:white;
        margin:auto;
        text-align: center;
        border-radius: 20px;
        text-shadow: 2px 2px 4px #000000;
    }
    .weather-container img{
        width: 66px;
    }
    
    .country h1{
       padding-top: 0px;
       font-size:23px;
    }
    
    .description p{
        padding-top: -8px;
        font-size: 13px;
    }
    
    .degree p{
        padding-top: 5px;
        font-size:32px;
    }

    .recipe-container{
        width:100%;
        height:100%;
    }
    
    .recipe-search{
        background-color: #f1e7e7;
        margin:0;
        padding:25px;
        width:100%;
        height: auto;
    }
    
    .recipe-search input{
        margin:0;
        width:100%;
        padding:6px;
        font-size:20px;
        font-family: 'Jost', sans-serif;
    }
    
    .recipe-response-container{
        margin:0;
        padding-left:25px;
        padding-right:25px;
        width:100%;
    }

    .recipe-response{
        margin:0;
        width:100%;
        height:350px;
        margin-bottom: 15px;
    }
    
    .recipe-response img{
        width:100%;
        height:76%;
        object-fit: cover;
    }
    
    .recipe-child-container{
        background-color:white;
        padding:0px;
        padding-bottom: 0px;
        width:100%;
        margin:0;
        margin-top:36px;
        border-top:0.5px solid black;
    }
    
    .title{
        font-size:19px;
        margin:0;
        padding:0;
        margin-left:3px;
        font-family: 'Cormorant Garamond', serif;
    }
    
    .view-recipe{
        margin:0;
        float:right;
        background-color: #ef4f4f;
        padding:7px;
        color:white;
        text-decoration:none;
        font-size:14px;
        margin-right:3px;
        margin-top: -13;
        border-radius: 10px;

    }
    .recipe-description{
        margin-top: 0;
        font-size:16px;
        margin-left:3px;
        font-family: 'Jost', sans-serif;
    }
    
    
}