@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type:none;
}

.navbar-container{
    background-color: #1877f2;
    padding: 5px;
    height: 35px;
}
.navbar-container a{
    color:white;
    font-size:22px;
    text-decoration: none;
    list-style: none;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.weather-container{
    background-color: #1877f2;
    font-family: 'Mochiy Pop P One', sans-serif; 
    color: white;
    width: 300px;
    height: 100px; 
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
}
.weather-container h1{ 
    margin: auto;
    font-size: 20px;
    text-align: center;
}
.weather-container p{
    text-align: center;
    margin: auto;
    font-size: 18px;
}

.recipe-container{
    margin-top: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.recipe-search{
    margin: auto;
}

.recipe-container input{
    display: flex;
    align-items: center;  
    padding: 5px;
    width: 300px;
}
.recipe-container input[type="text"]{
    font-size: 13px;
}
.recipe-response{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-bottom: 20px;
    border: 1px solid black;
}
.recipe-response-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.recipe-image-container{
    height: 200px;
    display: flex;
    flex-direction: row;
}
.recipe-image-container img{
    width: 300px;
}
.recipe-child-container{
    margin-top: 10px;
    height:auto;
    width: 200px;
    margin: 20px;
}
.recipe-child-container h1{
    object-fit: fill;
    font-size: 15px;
}
.recipe-child-container a{
    object-fit: fill;
    font-size: 15px;
    color: red;
}

@media only screen and (max-width: 600px) {
    .recipe-response-container{
        display: flex;
        flex-wrap:wrap;
        height: auto;
        width: 300px;
        align-items: center;
        margin: auto;
    }
    
  }

.footer{
    margin-top: 20px;
    background-color:black;
    color:white;
    padding:10px;
    font-size:15px;
    text-align:center;
    margin-top: 100%;
}